.grid6-2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
    text-align: center;
    margin-left: 9cqw;
    margin-right: 9cqw;
    gap: 2cqw;
}

.grid6-2 a{
    border: solid grey 2px;
    border-top: solid lightgrey 2px;
    border-bottom: solid black 6px;
    padding: 5cqw;
    font-size: 200%;
    text-decoration: none;
    border-radius: 1cqw;
}

