/* .grid3-1{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 4cqw;
    gap: 2cqw;
} */

#cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.product{
    border: solid grey 2px;
    border-top: solid lightgrey 2px;
    border-bottom: solid black 6px;
    text-align: center;
    width: 25cqw;
    margin: 3cqw;
    position: relative;
}

.prodInfo{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.soldP{
    font-family: BebasNeue;
    position: absolute;
    top: 20%;
    left: 15%;
    rotate: 30deg;
    font-size: 400%;
    filter: drop-shadow(0px 0px 3px white);
}

.saleP{
    font-family: BebasNeue;
    position: absolute;
    top: -5%;
    left: -10%;
    font-size: 300%;
    background-color: orangered;
    padding: 10px;
    margin: 0;
}

.product img{
    /* min-width:max-content;  */
    background-color: grey;
    max-height: 500px;
    max-width: 25cqw;
}

.product .soldP{
    visibility: hidden;
}

.product .saleP{
    visibility: hidden;
}

.soldProd .soldP{
    visibility: visible;
}
.soldProd img{
    filter: blur(5px);
}

.soldProd{
    overflow: hidden;
}

.saleProd .saleP{
    visibility: visible;
}